<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rights</title>


    <link rel="stylesheet" href="{{ url_for('static', filename= 'style1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>
<body style="background-color: rgb(176, 174, 174); height: 1500px;">



    <div class="red-box">
        <div class="container mt-3 d-flex">
            <span class="title-head">She Safe</span>
            <input type="text" placeholder="Search" class="search-bar">
            <i class="bi bi-search" id="search-icon"></i>
        </div>
        <div class="container">
            <div class="content1">
                <h1>KNOW YOUR RIGHTS!</h1>
            
                <h3>Right to Live with Dignity (Article 21 of the Indian Constitution)</h3>
                Every woman has the right to live with dignity and freedom from torture, degrading treatment, and abuse. This is guaranteed by the right to life under Article 21.
            </div>
            <img src="static/images/right1.jpg" class="img1" alt="">
            <img src="static/images/right2.jpg" class="img2" alt="">

        </div>

        <div class="sidebar">
            <a href="/" data-tooltip="Home">
                <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/home--v2.png" alt="home"/>
            </a>

            <a href="/councelling" data-tooltip="Counseling">
                <img width="24" height="24" src="https://img.icons8.com/glyph-neue/64/talk-female.png" alt="counseling"/>
            </a>

            <a href="/rights" data-tooltip="Rights">
                <img width="24" height="24" src="https://img.icons8.com/external-vectorslab-glyph-vectorslab/53/external-Justice-law-and-justice-vectorslab-glyph-vectorslab-3.png" alt="rights"/>
            </a>

            <a href="/courses" data-tooltip="Courses">
                <img width="24" height="24" src="https://img.icons8.com/ios-filled/50/sparring.png" alt="fight"/>
            </a>
        </div>

    </div>
    <div class="red-box1">
        <div class="content2">
            <h3>Protection from Domestic Violence (The Protection of Women from Domestic Violence Act, 2005)</h3>
            This law provides protection to women from domestic violence, including physical, emotional, sexual, and economic abuse within a domestic relationship.
Women can seek protection orders, residence orders, custody orders, and financial support from the court under this law.
        </div>
        <img src="static/images/right3.jpg" class="img3" alt="">
    </div>
        <div class="content3" >
            <h3>Right Against Sexual Harassment (The Sexual Harassment of Women at Workplace (Prevention, Prohibition, and Redressal) Act, 2013)</h3>
            This law ensures a safe working environment for women, prohibiting any form of sexual harassment at the workplace.
It mandates the establishment of Internal Complaints Committees (ICC) in workplaces to address complaints of sexual harassment.
        </div>

</body>
</html>